@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Roboto', sans-serif!important;
  font-size: 15px;
  color: #111;
  background: #eee!important;
}
#container {
    min-height: 100%;
    width: 100%;
    position: relative;
} 
#column-left{
  width: 260px;
  height: 100%;
  overflow: auto;
  background-color: #172c40;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: 4px 0 7px -5px #ddd;
  border-right: 1px solid #E6E8EB;
}
#column-left + #content, #column-left + #content {
  left: 0px;
  padding-left: 285px;
  position: relative;
  transition: all 0.3s;
  padding-bottom: 30px;
}
#content{
  min-height: 650px;
  padding-right: 30px;
}
.sideLogo{
  padding: 10px 0;
  border-bottom: 1px solid #e6e8eb;
  background: #fff;
}
.sideLogo img{
  max-width: 190px;
  margin: 0 auto;
  display: block;
}
#column-left .list-group-item{
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
}
#column-left .list-group-item .card-header{
  background: unset;
  border-radius: unset;
  border: unset;
}
#column-left .list-group-item a{
  color: #fff;
  padding: 13px 15px;
  display: block;
  font-size: 15px;
  font-weight: 400;
  
}
#column-left ul{
  padding: 0 20px;
  margin-top: 20px;
}
#column-left ul li:hover a i{
  color: #172c40;
}
#column-left .list-group-item a:hover{
  text-decoration: none;
  background-color: #f3f3f3;
  color: #172c40;
  border-radius: 4px;
  font-weight: 600
}
#column-left .list-group-item a img{
  margin-right: 6px;
}
#column-left ul li a i {
  margin-right: 10px;
  font-size: 15px;
  color: #e3e3e3;
}
.sideLogout .logoutBtn {
  float: none;
  text-align: center;
  margin-top: 20px;
}

.page-title {
  color: #172c40;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 1px solid #dfdfdf;
  line-height: 45px;
}
.latest-users .page-title{
  padding-top: 0px;
}
.dashBox{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background: #fff;
  padding: 7px;
  border-radius: 8px;
}
.adminDash .dashBox img{
  margin: 0 auto;
  display: block;
  max-width: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.adminDash .dashBox h4{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1.2px;
  
  color: #484343;
  margin-bottom: 0;
}
.adminDash .dashBox p{
  text-align: center;
  font-size: 17px;
}
.adminTabs{
  padding: 20px;
}
.adminTabs .nav-tabs .nav-link{
  border: none;
  color: #000;
  min-width: 130px;
  text-align: center;
}
.adminTabs .nav-tabs .nav-link.active{
  background: #f49d40;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.uploadProfile img{
  max-width: 150px;
}
.adminSearch input{
  background: #fff;
  height: 45px;
  border-bottom: none;
}
.trackTable .pagination{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.adminSearch .btn-link, .trackTable .input-group-text .btn-link{
  min-width: unset;
  font-weight: normal;
  color: #000;
  padding: 0;
}
.disabled-link {
  pointer-events: none;
}
.card-header{
  padding: 0;
}
.card-header .btn-header-link{
  text-align: left;
  font-weight: normal;
}
#fence .fa-angle-down, #fence2 .fa-angle-down{
  margin-top: 3px;
  float: right;
}
#fence .card-body{
  padding: 0;
  background: #f4a583;
  padding-left: 30px;
}
#fence .card-body li{
  border: none;
}
#fence .card-body li a{
  color: #fff;
}
#fence .btn.focus, #fence .btn:focus{
  box-shadow: none;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  font-size: 14px;
}
.form-control::placeholder{
  font-size: 14px !important;
}
.rs-picker-toggle-wrapper{
  display: block !important;
}
#react-select-2-listbox{
  z-index: 99999;
}
#react-select-2-listbox input[type=checkbox]{
  display: inline !important;
}
table tr td .dropdown-item{
  font-size: 14px;
}
.thisProfile .dropdown-menu .btn-link{
  color: #000;
  text-decoration: none;
  padding: 0;
}
.thisProfile .navbar-nav .dropdown-toggle:hover{
  background: transparent;
}
.thisProfile .navbar-nav .nav-item.show{
  background: #F39E53;
}
.notFound img{
  padding-top: 100px;
}
.notFound h3{
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}
.notFound p{
  color: #000;
  font-size: 19px;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.fence-window label{
  font-size: 15px;
}
.fence-window .form-group{
  margin-bottom: 5px;
}
.fence-window .form-group input.form-control{
  padding: 4px 12px;
  font-size: 15px;
}
.fence-window .form-group select{
  height: 30px;
}
.AdminHeader{
  border-bottom: 1px solid #E3e3e3;
  padding: 0;
  background: #fff;
}
.AdminHeader .dropdown{
  padding-right: 20px;
}
.AdminHeader .dropdown img{
  max-width: 40px;
  border: 3px solid #fff;
  border-radius: 100px;
  outline: 1px solid #ccc;
  margin-top: 15px;
}
.AdminHeader .dropdown-toggle{
  color: #444;
}
.AdminHeader .dropdown-toggle:after{
  top: 12px;
  position: relative;
  left: 4px;
}
.AdminHeader .dropdown .dropdown-menu{
  left: -33px !important;
  top: 23px !important;
}
.AdminHeader h1 {
  margin: 16px 0 16px 270px;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 20px;
  color: #e3e3e3;
  background: #172c40;
  line-height: 30px;
  width: max-content;
  border-radius: 4px;
}
.sideLogout .logoutBtn button{
  background-color: transparent;
  color: #e3e3e3;
  border: 1px solid #e3e3e3;
  padding: 7px 30px;
  border-radius: 0;
}
.sideAdmin{
  padding-left: 12px;
  padding-top: 25px;
  margin-bottom: -24px;
}
.sideAdmin ul li{
  position: relative;
  top: -23px;
  padding-right: 5px;
}
.sideAdmin ul li img{
  max-width: 50px;
  border: 3px solid #fff;
  border-radius: 100px;
  outline: 1px solid #f4a583;
}
.sideAdmin ul li h5{
  margin-bottom: 0;
  font-size: 16px;
}
.sideAdmin ul li p{
  margin-bottom: 0;
  
  font-size: 15px;
}
.sideAdmin ul li span{
  text-transform: uppercase;
}
.sideAdmin ul li .dropdown .dropdown-toggle:after{
  display: none;
}
.sideAdmin ul li .fa-angle-down{
  color: #fff !important;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 4px;
  background: #f4a583;
  margin-right: 0 !important;
  position: relative;
  top: -22px;
  left: 16px;
}
.sideAdmin ul{
  margin-bottom: 0;
}
.sideAdmin ul li:first-child{
  position: relative;
  top: -45px;
}
.boxPanel table tr th {
  background: #172c40;
  color: #fff;
  font-weight: 400;
}
.boxPanel table{
  background: #fff;
}
.titleBox .addButton {
  float: right;
  margin-top: 27px;
  min-width: 100px;
  font-size: 15px;
  font-weight: 400;
}
.btn-icon {
  margin-right: 0.4rem!important;
}
#loginPage {
  background: #fcfcfc;
}
#loginPage .formSide {
  padding: 150px;
}
.ck-editor__editable_inline {
  min-height: 200px;
}
#container{
  font-size: 15px;
  color: #172c40;
}
#container #content .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
#container #content .form-group input, #container #content .form-group select{
  height: 45px;
  font-size: 15px;
  border: 1px solid #ccc;
}
.btn-success {
  background: #0c8f25;
  border: 1px solid #0c8f25;
}
.filterBtn {
  display: block;
  padding: 8px 30px;
}
.titleBox {
  border-bottom: 1px solid #E6E8EB;
  margin-bottom: 20px;
}
.titleBox .page-title {
  border-bottom: none;
  margin-bottom: 0;
}
.edit-customer .editJob:after{
  margin-left: -109px !important;
}
.items-time{
  padding: 15px !important;
  cursor: not-allowed;
  background: #e9ecf0 !important;
}
.defineTime h4 {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px;
}
.defineTime ul li {
  margin-bottom: 10px;
}
.defineTime ul li a {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: bold;
  min-width: 102px;
  cursor: not-allowed !important;
}
.colFive .col-sm-3{
  width: 20%;
  flex: 0 0 20%;
}
.addEmployer:after, .editEmployer:after{
  margin-left: -170px !important;
}
.saveBtn{
  padding: 8px 40px;
}
.viewAppli:after{
  margin-left: -179px !important;
}
.appSkills ul li{
  background: #ffede5;
    border: 1px solid #f4a583;
    color: #111;
    border-radius: 6px;
    padding: 4px 10px;
}
.view-applicant .nav-tabs .nav-link, .settings-page .nav-tabs .nav-link{
    font-size: 15px;
    padding: 10px 24px;
    color: #000;
    background: #fff;
    border: 1px solid #e6e8eb;
    margin-left: 10px;
}
.view-applicant .nav-tabs li.nav-item:first-child .nav-link, .settings-page .nav-tabs li.nav-item:first-child .nav-link{
  margin-left: 0;
}
.view-applicant .nav-tabs .nav-item.show .nav-link, .view-applicant .nav-tabs .nav-link.active, .settings-page .nav-tabs .nav-item.show .nav-link, .settings-page .nav-tabs .nav-link.active {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
  color: #172c40 !important;
  font-weight: 500;
}
.revTitle:after{
  margin-left: -100px !important;
}
.addReview:after{
  margin-left: -142px !important;
}
.tran:after{
  margin-left: -234px !important;
}
.commonDropdown ul li a i{
  color: #fff !important;
  margin-right: 0 !important;
}
.skill-search{
  padding: 6px 12px;
    height: 40px;
    margin-right: 10px;
    margin-top: 25px;
    border: 1px solid #e6e8eb;
    border-bottom: none;
    border-radius: 0;
    max-width: 408px;
}
.addSkill:after{
  margin-left: -106px !important;
}
.addNationality::after{
  margin-left: -188px !important;
}
.planTitle:after{
  margin-left: -67px !important;
}
.adSubscrip:after{
  margin-left: -153px !important;
}
.add-subsc:after{
  margin-left: -206px !important;
}
.myFeatures{
    background: #000;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.infopages:after{
  margin-left: -222px !important;
}
.addinfoPage:after{
  margin-left: -111px !important;
}
.card{
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.bg-blue {
  background-color: #17a2b8!important;
  color: #fff;
  border: 1px solid #17a2b8!important;
}
.bg-parrot{
  background-color: #28A745!important;
  color: #fff;
  border: 1px solid #28A745!important;
}
.bg-yellow{
  background-color: #F39E53!important;
  color: #fff;
  border: 1px solid #F39E53!important;
}
.bg-red{
  background-color: #DC3545!important;
  color: #fff;
  border: 1px solid #DC3545!important;
}
.bg-purple{
  background-color: #8E97FF!important;
  color: #fff;
  border: 1px solid #8E97FF!important;
}
.bg-green{
  background-color: #00C292!important;
  color: #fff;
  border: 1px solid #00C292!important;
}
.bg-pink{
  background: #FA5C7C;
  color: #fff;
  border: 1px solid #FA5C7C!important;
}
.bg-purple:hover{
  background-color: #8E97FF!important;
  color: #fff;
  border: 1px solid #8E97FF!important;
}
.bg-green:hover{
  background-color: #00C292!important;
  color: #fff;
  border: 1px solid #00C292!important;
}
.btn-pink{
  background: #FA5C7C;
  color: #fff;
  border: 1px solid #FA5C7C!important;
}
.btn-pink:hover{
  background: #d84361;
  color: #fff;
  border: 1px solid #d84361;
}
.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  position: relative;
}
.small-box .inner {
  padding: 10px;
  text-align: center;
}
.small-box h3{
  font-size: 2.2rem;
}
.small-box p {
  font-size: 1rem;
}
.small-box .small-box-footer {
  background-color: rgba(0,0,0,.1);
  color: rgba(255,255,255,.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.bg-blue a, .bg-green a, .bg-red a, .bg-yellow a, .bg-purple a, .bg-parrot a, .bg-blue a:hover, .bg-green a:hover, .bg-red a:hover, .bg-yellow a:hover, .bg-purple a:hover, .bg-parrot a:hover {
  color: #fff!important;
  text-decoration: none;
}
.edit-customer .nav-tabs{
  justify-content: center;
}
.edit-customer .nav-tabs .nav-item{
  margin-left: 15px;
}
.ClientHistory .nav-tabs .nav-item{
  margin-bottom: -2px;
}
.ClientHistory .nav-tabs{
  background: #172c40;
  padding: 10px 10px 1px 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.ClientHistory .nav-tabs .nav-link{
  font-size: 14px;
  padding: 10px 25px;
  color: #fff;
  background: #172c40;
  border: none;
  border-bottom: 1px solid #f3f3f3;
}
.ClientHistory .tab-content{
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 25px 25px 10px 25px;
}
.ClientHistory .button-group{
  text-align: center;
}
.ClientHistory .button-group button{
  font-size: 14px;
  margin-right: 15px;
  margin-top: 20px;
  padding: 8px 20px;
}
.AddOffer .card-black{
  background: #172c40;
  padding: 0px 20px;
}
.AddOffer .card-black .card-title{
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}
.ViewOffer{
  padding: 50px;
}
.ViewOffer h2 {
  padding-top: 55px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 33px;
}
.ViewOffer p{
  font-size: 13px;
  color: #777;
  margin-top: 5px;
}
.sent-status p{
  font-size: 15px;
  color: #F39E53;
  padding: 5px 10px;
  font-weight: 500;
}
.ViewOffer img{
  width: 220px;
}
.ViewOffer .card-dark{
  margin-top: 30px;
}
.table-sm thead th{
  font-size: 13px;
}
.table-sm tbody td{
  font-size: 14px;
  padding: 12px 5px;
}