/* .sendOfferRtl {
    font-family: 'Montserrat', sans-serif;
} */
.client-contract .info-list .icons{
    margin-right: 0;
    margin-left: 100px;
    direction: rtl;
}
.client-contract .info-list .icons h4{
    text-align: right;
    direction: rtl;
}
.send-offer p{
    text-align: right;
    direction: rtl;
}
.client-contract .shift-30 .agg-list .icons {
    margin-left: 10px;
    margin-right: 0;
    direction: rtl;
}
.client-contract .shift-30 h6{
    text-align: right;
    direction: rtl;
}
.worker-contract .shift-30 h5{
    text-align: right;
    direction: rtl;
}
.worker-contract .sigCanvas{
    float: right;
    direction: rtl;
}
.worker-contract .btn-warning{
    float: right;
    direction: rtl;
    margin-top: 10px;
}
.sendOfferRtl .float-right{
    float: none !important;
    direction: rtl;
}
.sendOfferRtl h1{
    text-align: right;
    direction: rtl;
}
.sendOfferRtl .abt h2{
    text-align: right;
    direction: rtl;
}
.sendOfferRtl .we-have h3{
    text-align: right;
    direction: rtl;
}
.sendOfferRtl .shift-20{
    text-align: right;
    direction: rtl;
}
.sendOfferRtl .shift-20 ul li img{
    direction: rtl;
    margin-left: 10px;
}
.send-offer .abt h2, .send-offer h3, .client-contract h2, .client-contract h3{
    text-align: right;
    direction: rtl;
}
.client-contract .signed p, .client-contract h4.inHead{
    text-align: right;
    direction: rtl;
}
#column-left{
    right: 0;
    direction: rtl;
    border-right: none;
    border-left: 1px solid #E6E8EB;
}
#column-left + #content, #column-left + #content{
    padding-left: 30px;
    padding-right: 285px;
    direction: rtl;
}
.AdminHeader .float-right{
    float: none !important;
    direction: rtl;
}
.AdminHeader h1{
    text-align: right;
    margin-left: 0;
    margin-right: 270px;
    direction: rtl;
}
.AdminHeader .dropdown {
    padding-right: 0;
    padding-left: 20px;
    direction: rtl;
}
.AdminHeader .dropdown-toggle::after{
    left: -8px;
    direction: rtl;
}
#column-left .list-group-item a{
    text-align: right;
    direction: rtl;
}
#column-left ul li a i{
    margin-right: 0;
    margin-left: 10px;
    direction: rtl;
}
.adminDash .dashBox .dashIcon{
    margin-right: 0 !important;
    margin-left: 1.5rem !important;
    direction: rtl;
}
.adminDash .dashBox .dashText, .boxPanel table tr th, .boxPanel table tr td, .worker-profile h2{
    text-align: right;
    direction: rtl;
}
.page-title{
    text-align: right;
    direction: rtl;
}
.search-data{
    float: left;
    display: unset;
    direction: rtl;
}
.ViewOffer{
    padding: 0;
    text-align: right;
    direction: rtl;
}
.client-view-job .form-group, .noteby, .rtl-comment{
    text-align: right;
    direction: rtl;
}
.settings-page .nav-tabs{
    padding-right: 0;
    direction: rtl;
}
.settings-page .form-group{
    text-align: right;
    direction: rtl;
}
.worker-view-job{
    text-align: right;
    direction: rtl;
}
.modal-header .close{
    direction: rtl;
    margin-left: 0;
}
.closeb{
    margin-left: 10px;
    direction: rtl;
}
.worker-account .form-group{
    text-align: right;
    direction: rtl;
}
.gender-group input{
    margin-left: 10px !important;
    direction: rtl;
    height: unset !important;
}
.skills-group input{
    height: unset !important;
    direction: rtl;
}
.skills-group span{
    margin-right: 20px;
    direction: rtl;
}
@media (max-width: 767px){
.mobileNav .navbar-collapse.show, .mobileNav .navbar-toggler.collapsed ~ .navbar-collapse{
    left: unset;
    right: 0;
    direction: rtl;
    transition: right 100ms ease-in-out;
    border-left: 1px solid #e6e8eb;
}
.mobileNav .nav-item a, .client-contract .between p{
    text-align: right;
    direction: rtl;
}
.navbar-nav{
    padding-right: 0 !important;
    direction: rtl;
}
.mobileNav ul li a i{
    margin-right: 0;
    margin-left: 10px;
    direction: rtl;
}
#column-left + #content, #column-left + #content{
    padding-right: 30px;
    direction: rtl;
}
.responsiveTable td.pivoted{
    padding-left: 10px !important;
    direction: rtl;
}
.responsiveTable td .tdBefore{
    text-align: right !important;
    width: calc(100% - 20px) !important;
    direction: rtl;
}
.responsiveTable tbody tr td:last-child{
    text-align: left !important;
    direction: rtl;
}
.responsiveTable td.pivoted .d-flex{
    display: unset !important;
    position: relative;
    left: -5px;
    direction: rtl;
}
.navbar-dark .navbar-brand{
    margin-right: 0 !important;
    direction: rtl;
}
.search-data{
    float: right;
    direction: rtl;
}
.search-data input{
    margin-right: 0 !important;
    direction: rtl;
}
.client-contract h4.inHead{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    direction: rtl;
}
.client-contract .signed p{
    font-size: 14px;
    direction: rtl;
}
.client-contract .first ul {
    text-align: right;
    padding-right: 0;
    direction: rtl;
}
}
